.card.p-2 {
  margin: 10px;
}

table.MsoNormalTable > tbody > tr:nth-child(odd) > td {
  background: #fff;
}

table.MsoNormalTable > tbody > tr:nth-child(even) > td {
  background: #fafafa;
}

table.MsoNormalTable tr > td:first-child,
table.MsoNormalTable tr > td:last-child {
  text-align: center;
}
