.title-cover {
  width: 100%;
  background-image: url("./../img/products/solar-power-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-cover h2 {
  color: white;
}

/** Mobile CSS */
@media only screen and (max-width: 600px) {
  .title-cover {
    min-height: 100px;
  }
  .title-cover h2 {
    font-size: 40px;
  }
}

/** Desktop CSS */
@media only screen and (min-width: 600px) {
  .title-cover {
    min-height: 150px;
  }
  .title-cover h2 {
    font-size: 60px;
  }
}
