@import url("https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800");
/* Import */
/* Variables */
/* Base */
div#timeline-content {
  background: #252827;
  font-size: 16px;
}
div#timeline-content p {
  font-weight: 300;
}
div#timeline-content a {
  color: #6c6d6d;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.3em;
  font-size: 0.6em;
  font-weight: 400;
  background: #252727;
  padding: 0.3rem 1rem;
  margin: 1.9rem 0 0 0;
  float: right;
}
div#timeline-content a:hover {
  color: #ffffff;
  background: #004ffc;
  border-bottom: 0.35em solid black;
}
div#timeline-content strong {
  font-weight: 600;
}
div#timeline-content h1 {
  font-family: "Saira", sans-serif;
  letter-spacing: 1.5px;
  color: #ffffff;
  font-weight: 400;
  font-size: 2.4em;
}
#timeline-content {
  margin-top: 10px;
  text-align: center;
}
/* Timeline */
.timeline {
  border-left: 4px solid #004ffc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  font-family: "Chivo", sans-serif;
  margin: 10px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
}
.timeline h1 {
  font-family: "Saira", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline h2,
.timeline h3 {
  font-family: "Saira", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
  font-family: "Saira", sans-serif;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #004ffc;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
/* Mobile View */
@media (max-width: 600px) {
  .timeline {
    max-width: 95%;
    margin: auto;
    padding: 0;
  }
  .event {
    margin-bottom: 10px;
  }
  .event h3 {
    font-size: 20px;
  }
  .timeline-icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
}
/* Desktop View */
@media (min-width: 600px) {
  .timeline {
    max-width: 65%;
  }
  .event {
    min-height: 120px;
  }
  .timeline-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .event h3 {
    text-align: left;
  }
}

/* Custom CSS*/

.timeline .event:hover {
  padding: 10px;
  background: white;
  color: black;
  border-radius: 5px;
}

.event {
  display: flex;
  flex-direction: row;
}

.event .col:nth-child(first) {
  width: 75%;
}
.event .col:nth-child(last) {
  width: 25%;
}

.col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
