.vs-img-bg > .list-group > .list-group-item:hover {
  font-weight: bold;
  color: white;
}
.vs-img-bg > .list-group > :nth-child(4n):hover {
  background-color: rgb(66, 133, 244, 0.8);
}
.vs-img-bg > .list-group > :nth-child(4n + 1):hover {
  background-color: rgb(219, 68, 55, 0.8);
}
.vs-img-bg > .list-group > :nth-child(4n + 2):hover {
  background-color: rgb(244, 160, 0, 0.8);
}
.vs-img-bg > .list-group > :nth-child(4n + 3):hover {
  background-color: rgb(15, 157, 88, 0.8);
}

.vs-table > tbody > tr:nth-child(odd) > td {
  background: #fafafa;
}

.vs-table > tbody > tr:nth-child(even) > td {
  background: #fff;
}

/* Mobile CSS */
@media (max-width: 600px) {
  .vs-img-bg {
  }
  .tab-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
  }

  .tab-button {
    font-weight: bold;
  }
  .nav.nav-tabs {
    display: flex;
    flex-direction: row;
  }
  .nav.nav-tabs > .nav-item {
    width: 50%;
  }
}
/* Desktop CSS */
@media (min-width: 600px) {
  .vs-img-bg {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 212, 255, 0) 48%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("../img/products/voltage-stabilizer/wirepole-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
  }
  .vs-img-bg > .list-group {
    margin: 70px 0;
    min-width: 250px;
  }
  .vs-img-bg > .list-group.right-grp {
    margin-left: auto;
  }

  .vs-img-bg > .list-group > * {
    background: rgb(255, 255, 255, 0.4);
  }
  .tab-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  .tab-button {
    font-weight: bold;
    font-size: 25px;
  }
}
