/* Filp Cards */
.scene {
  background-color: transparent;
  width: 300px;
  height: 250px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
  transform-origin: center right;
  box-shadow: 0 4px 8px 0 rgb(110, 109, 109);
  cursor: pointer;
}

.scene:hover .card {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  text-align: center;
  color: black;
}

.f1 {
  background-image: url("../img/homepage/why-solar/img2.png");
}

.f2 {
  background-image: url("../img/homepage/why-solar/img10.jpg");
}

.f3 {
  background-image: url("../img/homepage/why-solar/img3.png");
}

.f4 {
  background-image: url("../img/homepage/why-solar/img1.png");
}

.f5 {
  background-image: url("../img/homepage/why-solar/img7.png");
}

.f6 {
  background-image: url("../img/homepage/why-solar/img7.jpg");
}

.card__face--back {
  background-color: #050f16;
  color: white;
  transform: rotateY(180deg);
}
